.submit {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

/* .form {
    padding-top: 50px;
    float: left;
} */

.form input {
    width: 300px;
    height: 50px;
}